.film-container {
  color: var(--gray);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--space-base);
  gap: var(--space-base);
}

.film-img {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  margin-right: var(--space-base);
}

.film-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}
h1 {
  color: var(--light-purple);
}

.rating-and-comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--space-base);
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space-base);
}

.comment-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-base);
  list-style-type: none;
  padding: 0;
}

.comment-list li {
  background: var(--dark-purple);
  padding: var(--space-base);
  border-radius: 5px;
}

.submit-comment textarea {
  width: 80%;
  height: 100px;
  padding: var(--space-base);
  border: 1px solid var(--gray);
  border-radius: 5px;
  margin-bottom: var(--space-base);
}

.submit-comment button {
  padding: var(--space-base) var(--space-base);
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-comment button:hover {
  background-color: var(--dark-yellow);
}
.delete-button {
  padding: var(--space-base) var(--space-base);
  background-color: rgba(100, 3, 3, 0.9);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .film-container {
    flex-direction: column;
    align-items: center;
  }

  .film-img {
    margin-right: 0;
    margin-bottom: var(--space-base);
  }

  .submit-comment {
    width: 100%;
  }
}
