.films-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 100%;
}

/* Pour écrans larges (1024px et moins) */
@media (max-width: 1024px) {
  .films-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Pour tablettes (768px et moins) */
@media (max-width: 768px) {
  .films-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pour mobiles (620px et moins) */
@media (max-width: 620px) {
  .films-grid {
    grid-template-columns: 1fr;
  }
}
