ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  li {
    position: relative;
    color: var(--gray);
    text-align: center;
    padding: var(--space-base);
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 2px var(--dark-purple);
    overflow: hidden;
  }
  
  li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--dark-yellow);
    transition: width 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); 
  }
  
  li:hover::before {
    width: 100%;
  }
  

  @media (max-width: 600px) {
    ul {
      flex-direction: column;
      align-items: center;
    }
  
    li {
      width: 90%;
      text-align: center;
    }
  }
