header {
  text-align: center;
  height: 30vh;
  position: relative;

  & img {
    max-width: 12vw;
    padding: var(--space-base);
  }

  & nav {
    text-align: right;
    & .NavLink {
      text-decoration: none;
      padding: var(--space-base);
      margin-bottom: var(--space-base);
      color: var(--gray);
    }
  }

  & form {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--space-base);
  }

  & input {
    margin-right: var(--space-base);
    padding: 8px;
  }

  & button {
    padding: var(--space-base); 
    background-color: var(--purple);
    color: white;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    color: var(--purple);
    background-color: darkgray;
  }
}
